<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="miBean" class="beans.BeanSpring">
		<property name="mensaje" value="Hola Mundo con Spring" />
	</bean>
	
	<bean id="miSumatoriaBean" class="beans.SumatoriaBeanSpring">
		<property name="valor1" value="1" />
		<property name="valor2" value="4" />
		<property name="mensaje" value="La Suma es: " />
	</bean>
	
</beans>
